*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-size: cover;
    background-color: black;
}
#title{
    text-align: center;
    font-size: 3vw;
    background-color: black;
    color: whitesmoke;
    margin-bottom: 50px;
}

#snacks{
    top: 109px;
    left: 980px;
    height: 600px;
    width: 200px;
    /* background-color: green; */
    position: absolute;
}
#admin{
    top: 109px;
    left: 1400px;
    position: absolute;
    /* background-color: yellow; */
    height: 600px;
    width: 350px;
    text-align: justify;
}
#juice{
    top: 109px;
    left: 1190px;
    height: 600px;
    width: 200px;
    /* background-color: red; */
    position: absolute;
    
}

#hot-drinks{
    top: 109px;
    left: 770px;
    /* background-color: rgb(192, 126, 11); */
    height: 600px;
    width: 200px;
    position: absolute;
}
#bill{
    top: 109px;
    left: 451px;
    height: 300px;
    width: 300px;
    position: absolute;
    /* background-color: aqua; */
}
#buy{
    top: 390px;
    left: 0px;
    width: 300px;
    height: 210px;
    position: absolute;
    /* background-color: blueviolet; */
}

.h3{
    text-align:center;
}
.cover{
    height: 30px;
    width: 150px;
    margin: 5px;
    box-sizing: border-box;
    background-color: whitesmoke;
    list-style: none;
    text-align: center;
}
#menu{
    height: 600px;
    width: 450px;
}
#menu-main{
    height: 600px;
    width: 450px;
}
#welcom{
    height: 400px;
    width: 300px;
}
.display{
    height: 500px;
    width: 400px;
    margin: 40px;
    /* background-color: blue; */
}
.disp{
    height: 300px;
    width: 300px;
    display: flex;
}
.h4{
    font-size: 1.5vw;
    color: whitesmoke;
}
.btn{
    font-size: 1vw;
    margin: 0;
    padding: 0;
}
#cap{
    top: 680px;
    position: absolute;
}
#lat{
    top: 680px;
    left: 450px;
    position: absolute;
}
#grt{
    top: 680px;
    left: 800px;
    position: absolute;
}
#blt{
    top: 680px;
    left: 1150px;
    position: absolute;
}
#smth{
    top: 1130px;
    left: 450px;
    position: absolute;
}
#ppc{
    top: 1130px;
    left: 800px;
    position: absolute;
}
#blc{
    top: 1130px;
    left: 1150px;
    position: absolute;
}
#mnch{
    top: 1130px;
    left: 100px;
    position: absolute;
}
#cap{
    left: 100px;
    position: absolute;
}
.li{
    list-style: none;
    font-size: 1.2vw;
    margin: 8px;
    text-align: center;
    color: whitesmoke;
    cursor: pointer;
    
}
.ttle{
    text-align: center;
    font-size: 1.3vw;
    color: whitesmoke;
}
.names{
    height: 40px;
    width: 150px;
    /* background-color: blue; */
    margin-left: 20px;
}
#pay{
    padding: 0;
    margin: 0;
    font-size: 1.2vw;
    margin-left: 3px;
    margin-top: 5px;
    color: #FF5733;
    border: none;
    background: none;
    padding: 0;
    cursor: pointer;

}
#log{
    color: #FF5733 ;
    border: none;
    background: none;
    padding: 0;
    cursor: pointer;
    font-size: 1.3vw;
    margin-left: 30px;
    margin-top: 5px;
}
.log{
    color: whitesmoke;
    border: none;
    background: none;
    padding: 0;
    cursor: pointer;
    font-size: 1.3vw;
    margin: 20px;
}
#label-1{
    margin-top: 10px;
}
.label{
    color: whitesmoke;
    margin-top: 20px;
}
.input{
    background-color: white;
    margin-top: 10px;

}
.change{
    background-color: whitesmoke;
    color: rgb(119, 34, 180);
    font-size: 1.4vw;
    border: none;
    background: none;
    padding: 0;
    cursor: pointer;
}
.names{
    background-color: black;
    background-image: url();
}
.product{
    color: whitesmoke;
    font-size: 1.2vw;
    margin-top: 15px;
    margin-left: 8px;
}
.like{
    font-size: 1.2vw;
    border: none;
    background: none;
    padding: 0;
    cursor: pointer;
}
.dislike{
    font-size: 1.2vw;
    border: none;
    background: none;
    padding: 0;
    cursor: pointer;
}
#signup{
    top: 0px;
    right: 150px;
    position: absolute;
}
#user{
    top: 0;
    right: 250px;
    position: absolute;
}
select#catego {
    width: 200px;
    padding: 10px;
    background-color: white;
    color: black; /* Set the text color to black */
    border: 1px solid black;
    border-radius: 5px;
    margin: 0 auto;
}

select#catego option {
    background-color: white;
    color: black; /* Set the text color of options to black */
}

label#categori {
    display: block;
    font-weight: bold;
    text-align: center;
    color: white; /* Set the text color of the label to white */
}
.category{
    font-size: 1.2vw;
    color: black;
}
.cat{
    font-size: 1.2vw;
    /* right: 0; */
}
.entry{
    background-color: whitesmoke;
    margin: 10px;
}
/* .dislike{
    top: 331px;
    left: 100px;
    position: absolute;
    cursor: pointer; 
    color: #4CAF50; 
    transition: color 0.3s ease; 
}
.no-likes{
    color: whitesmoke;
    top: 331px;
    left: 30px;
    position: absolute;
}

.no-dislikes{
    color: whitesmoke;
    top: 331px;
    left: 130px;
    position: absolute;
}
.like{
    animation: shake 0.5s;
    color: whitesmoke;
    top: 331px;
    position: absolute;
}
.dislike{
    color: whitesmoke;
} */

