*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-size: cover;
}
#title{
    text-align: center;
    font-size: 3vw;
    background-color: black;
    color: whitesmoke;
}

#snacks{
    top: 59px;
    left: 980px;
    height: 600px;
    width: 200px;
    background-color: green;
    position: absolute;
}
#admin{
    top: 59px;
    left: 1400px;
    position: absolute;
    background-color: yellow;
    height: 600px;
    width: 350px;
}
#juice{
    top: 59px;
    left: 1190px;
    height: 600px;
    width: 200px;
    background-color: red;
    position: absolute;
    
}

#hot-drinks{
    top: 59px;
    left: 770px;
    background-color: rgb(192, 126, 11);
    height: 600px;
    width: 200px;
    position: absolute;
}
#bill{
    top: 59px;
    left: 460px;
    height: 300px;
    width: 300px;
    position: absolute;
    background-color: aqua;
}
#buy{
    top: 300px;
    left: 0px;
    width: 300px;
    height: 300px;
    position: absolute;
    background-color: blueviolet;
}
#buy-div{
    top: 300px;
    left: 0px;
    width: 1000px;
    height: 1000px;
    position: absolute;
    background-color: blueviolet;
}
.h3{
    text-align:center;
}
.cover{
    height: 30px;
    width: 150px;
    margin: 5px;
    box-sizing: border-box;
    background-color: whitesmoke;
    list-style: none;
    text-align: center;
}
#menu{
    height: 600px;
    width: 450px;
}
#menu-main{
    height: 600px;
    width: 450px;
}
#welcom{
    height: 300px;
    width: 300px;
}
.display{
    height: 500px;
    width: 400px;
    margin: 40px;
    /* background-color: blue; */
}
.disp{
    height: 300px;
    width: 300px;
    display: flex;
}
.h4{
    font-size: 1.5vw;
}
.btn{
    font-size: 1vw;
    margin: 0;
    padding: 0;
}
#cap{
    top: 680px;
    position: absolute;
}
#lat{
    top: 680px;
    left: 450px;
    position: absolute;
}
#grt{
    top: 680px;
    left: 800px;
    position: absolute;
}
#blt{
    top: 680px;
    left: 1150px;
    position: absolute;
}
#smth{
    top: 1130px;
    left: 450px;
    position: absolute;
}
#ppc{
    top: 1130px;
    left: 800px;
    position: absolute;
}
#blc{
    top: 1130px;
    left: 1150px;
    position: absolute;
}
#mnch{
    top: 1130px;
    left: 100px;
    position: absolute;
}
#cap{
    left: 100px;
    position: absolute;
}
.li{
    list-style: none;
    font-size: 1.2vw;
    margin: 8px;
    text-align: center;
}
.ttle{
    text-align: center;
    font-size: 1.3vw;
}
.names{
    height: 40px;
    width: 150px;
    background-color: blue;
    margin-left: 20px;
}